<%= form_with(model: [ @question, @question.comments.build ], local: true) do |form| %>
  

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="actions">
    <%= form.hidden_field :user_id, value: current_user.id %>
    <%= form.submit "Add Comment" %>
  </div>
<% end %>
